*

# git stuff
!.gitignore

!.config
.config/*

# terminal stuff
!.zshrc
!zsh
!zsh/zsh-autocomplete.plugin.zsh
!.config/kitty
!.config/kitty/*

# ide stuff
!.config/nvim
!.config/nvim/init.lua

# x stuff
!.xinitrc
!picom.conf
